@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #222222;
  }
}

html {
  background-color: var(--background);
}

body {
  color: var(--foreground);
  font-family: "Goudy Bookletter 1911", serif;
}

.nav-item {
  font-size:19px;
  display: inline-block;
  margin: 100px 20px 50px 20px;
}

.nav-item--selected {
  font-weight:bold;
  display: inline-block;
  margin: 100px 20px 50px 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
