@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Vidaloka&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background: linear-gradient(190deg, rgba(34,34,34,1) 0%, rgba(34,34,34,1) 67%, rgba(31,59,61,1) 100%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  border-bottom: 0px;
  padding: 10px;
}

.nav-item--selected {
  border-bottom: 3px solid rgb(95 192 197 / var(--tw-text-opacity, 1));
}
